/**
CSS Para proyecto general
 */


.btn-margin4r{
    margin: .4rem;
}

.btn-margin4r_ud{
    margin: .4rem 0 .4rem 0;
}

.btn-margin4r_lr{
    margin: 0 .4rem 0 .4rem;
}


div.line_divider{
    border-bottom:1px solid rgba(0,0,0,.12);
}


.btn-fab.btn-sm2 {
    width: 2em;
    height: 2em;
    min-width: 2em;
    min-height: 2em;
}