/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%; display:block;}
/*end reset*/
body{
	background:#e2e1dd;
	font-family: 'Roboto', sans-serif;	
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.header-top{
	display:none;
}
.header-left{
	width:20%;
	float:left;
	background:#242b2e;
	min-height: 972px;
}
.header-left1{
	min-height: 1290px;
}
.header-left2{
	min-height: 1022px;
}
.header-left3{
	min-height:1618px;
}
.logo{
	background:#fff;
	padding: 2em;
}
.top-nav ul li {
	list-style:none;
}
.top-nav ul li  a {
	display:block;
	outline: none;
	color: #fff;
	text-decoration: none;
	font-size: 1.3em;
	padding: 1em;
	text-align: right;
	background:#30383b;
}
.top-nav ul li  a.black{
	background:#30383c;
}
.top-nav ul li  a.black1{
	background: rgb(51,58,62);
	background: -moz-linear-gradient(top,  rgba(51,58,62,1) 0%, rgba(46,54,58,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,58,62,1)), color-stop(100%,rgba(46,54,58,1)));
	background: -webkit-linear-gradient(top,  rgba(51,58,62,1) 0%,rgba(46,54,58,1) 100%);
	background: -o-linear-gradient(top,  rgba(51,58,62,1) 0%,rgba(46,54,58,1) 100%);
	background: -ms-linear-gradient(top,  rgba(51,58,62,1) 0%,rgba(46,54,58,1) 100%);
	background: linear-gradient(to bottom,  rgba(51,58,62,1) 0%,rgba(46,54,58,1) 100%);
}
.top-nav ul li  a.black2{
	background: rgb(51,59,62);
	background: -moz-linear-gradient(top,  rgba(51,59,62,1) 0%, rgba(46,54,58,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,59,62,1)), color-stop(100%,rgba(46,54,58,1)));
	background: -webkit-linear-gradient(top,  rgba(51,59,62,1) 0%,rgba(46,54,58,1) 100%);
	background: -o-linear-gradient(top,  rgba(51,59,62,1) 0%,rgba(46,54,58,1) 100%);
	background: -ms-linear-gradient(top,  rgba(51,59,62,1) 0%,rgba(46,54,58,1) 100%);
	background: linear-gradient(to bottom,  rgba(51,59,62,1) 0%,rgba(46,54,58,1) 100%);
}
.top-nav ul li  a.black3{
	background: rgb(51,58,62);
	background: -moz-linear-gradient(top,  rgba(51,58,62,1) 0%, rgba(46,54,58,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,58,62,1)), color-stop(100%,rgba(46,54,58,1)));
	background: -webkit-linear-gradient(top,  rgba(51,58,62,1) 0%,rgba(46,54,58,1) 100%);
	background: -o-linear-gradient(top,  rgba(51,58,62,1) 0%,rgba(46,54,58,1) 100%);
	background: -ms-linear-gradient(top,  rgba(51,58,62,1) 0%,rgba(46,54,58,1) 100%);
	background: linear-gradient(to bottom,  rgba(51,58,62,1) 0%,rgba(46,54,58,1) 100%);
}
.top-nav ul li  a.black4{
	background: rgb(50,58,62);
	background: -moz-linear-gradient(top,  rgba(50,58,62,1) 0%, rgba(46,54,58,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(50,58,62,1)), color-stop(100%,rgba(46,54,58,1)));
	background: -webkit-linear-gradient(top,  rgba(50,58,62,1) 0%,rgba(46,54,58,1) 100%);
	background: -o-linear-gradient(top,  rgba(50,58,62,1) 0%,rgba(46,54,58,1) 100%);
	background: -ms-linear-gradient(top,  rgba(50,58,62,1) 0%,rgba(46,54,58,1) 100%);
	background: linear-gradient(to bottom,  rgba(50,58,62,1) 0%,rgba(46,54,58,1) 100%);
}
.top-nav ul li  a:hover,.top-nav ul li.active a {
	background: #23aeac;
}
ul.social-in {
  text-align: right;
  padding: 2em 1em 2em 0;
}
ul.social-in li{
	display: inline-block;	
}
ul.social-in li  i{
	background: url(../images/img-sprite.png)no-repeat -411px -9px;
	width: 28px;
	height: 28px;
	display: inline-block;
	margin: 0 3px;
	
}
ul.social-in li  i.gmail{
	background-position: -74px -8px;
}
ul.social-in li  i.twitter{
	background-position:-145px -9px;
}

ul.social-in li  i.pin{
	background-position:-215px -8px;
}
ul.social-in li  i.dribble{
	background-position: -280px -9px;
}
ul.social-in li  i.behance{
	background-position:-347px -9px;
}
ul.social-in li  i:hover{
	background-position: -444px -9px;
}
ul.social-in li  i.gmail:hover{
	
	background-position:-109px -9px;
}
ul.social-in li  i.twitter:hover{
	background-position: -180px -8px;
}

ul.social-in li  i.pin:hover{
	background-position:-247px -8px;
}
ul.social-in li  i.dribble:hover{
	background-position: -313px -9px;
}
ul.social-in li  i.behance:hover{
	background-position: -379px -8px;
}

p.footer-class{
	color:#6b7072;
	font-size:0.87em;
	text-align:right;
	padding: 0 1em 0 0;
}
p.footer-class a{
	color:#fff;
	text-decoration:none;	
}
p.footer-class a:hover{
	color:#6b7072;	
}
/*--content--*/
.content{
	float:left;
	width:80%;
	position: relative;
}
.content-grid{
	float:left;
	width:25%;
}
/*--------------------------------------*/
.b-link-stripe{
	position:relative;
	display:inline-block;
	vertical-align:top;
	overflow:hidden;
	width: 100%;
}
.b-link-stripe .b-wrapper{
	position:absolute;
	width:100%;
	top:0;
	left:0;
	text-align:center;
	color:#ffffff;
	overflow:hidden;
	
}
/*	Animation effects*/
.b-animate-go{
	text-decoration:none;
}
.b-animate{
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	visibility: hidden;
}
.b-animate img{
	margin-top: 4%;
	display: -webkit-inline-box;
}
.b-animate span{
	display:block;
	font-size: 1.7em;
	padding-top: 2em;
	display: block;
	font-weight: 300;
}
.b-animate p{
	padding: 0.2em 0 1em;
	color: #fff;
	font-size: 1em;
	font-weight: 400;
	border-bottom:1px solid #fff;
	display: inline-block;
	margin:0 0 1em;
}
.b-animate i{
	background:url(../images/ar.png) no-repeat 0px 0px;
	width:70px;
	height:70px;
	display:block;
	margin:0 auto;
}
/* lt-ie9 */
.b-animate-go:hover .b-animate{
	visibility:visible;
}
.b-from-left{
	position: relative;
	left: -100%;
	background:rgba(45, 184, 183, 0.81);
	background-size: 100% 100%;
	top: 0px;
	margin: 0;
	min-height: 243px;
}
.b-animate-go:hover .b-from-left{
	left:0;
}
ul.social{
	background: rgba(55, 53, 52, 0.73);
	padding: 1.5em 5em 1.5em 1.5em;
	text-align:left;  
}
ul.social li{
	list-style:none;
}
ul.social li span,ul.social li a{
	font-size:1em;
	color:#fff;
	margin: 0 0 0.5em;
	display: block;
}
ul.social li a:hover{
	text-decoration:none;
	color:#1ab5b3;
}
ul.social li  i{
	  background: url(../images/img-sprite.png)no-repeat -39px -49px;
	width: 23px;
	height: 23px;
	display: inline-block;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	vertical-align: middle;
	margin:0 13px 0 0;
}
ul.social li  i.mes{
	background-position: -72px -50px;
}
ul.social li  i.down{
	background-position:-108px -49px;
}
.arrow {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
    z-index: 9;
}
.arrow img{
	margin: 0 0 0 70%;
}
.arrow-at img{
	margin:0;
}
/*--work--*/
.work{
	padding:1.5em;
	background:#fff;
	margin:1.5em;
}
.work-top,.work-in{
	float:left;
	width:47.9%;
}

.work-full{
	float:left;
	width:100%;
}

.work-top {
  border-right: 1px solid #D5D3D3;
  padding: 0 2% 0 0;
}
.work-in {
    padding: 0 0 0 2%;
}
/*--- slider-css --*/
.slider {
	position: relative;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 8px;
	width: 22px;
	display: inline-block;
	background:#b6b6b6;
}
.callbacks_here a:after{
	background:#1ab5b3;
}
.callbacks_tabs a{
	visibility:hidden;
}
.callbacks_tabs li{
	display:inline-block;
}
ul.callbacks_tabs.callbacks1_tabs {
	position: absolute;
	bottom: 14px;
	z-index: 999;
	right: 13px;
}
.work-top h2{
	font-size: 1.8em;
	font-weight: 300;
	padding: 0.5em 0;
}
.work-top h2 a{
	color: #000;
	text-decoration:none;
}
.work-top h2 a:hover{
	color: #1ab5b3;
}
.work-top p{
	color:#a3a3a3;
	font-size: 1.1em;
	line-height: 1.7em;
	font-weight: 300;
	padding: 0 0 1em;
}
.work-top p span{
	padding:1.3em 0 0;
	display: block;
}


/**workfull**/


.work-full h2{
	font-size: 1.8em;
	font-weight: 300;
	padding: 0.5em 0;
}
.work-full h2 a{
	color: #000;
	text-decoration:none;
}
.work-full h2 a:hover{
	color: #1ab5b3;
}
.work-full p{
	color:#a3a3a3;
	font-size: 1.1em;
	line-height: 1.7em;
	font-weight: 300;
	padding: 0 0 1em;
}
.work-full p span{
	padding:1.3em 0 0;
	display: block;
}


/**workin**/


.work-in h2{
	font-size: 1.8em;
	font-weight: 300;
	padding: 0.5em 0;
}
.work-in h2 a{
	color: #000;
	text-decoration:none;
}
.work-in h2 a:hover{
	color: #1ab5b3;
}
.work-in p{
	color:#a3a3a3;
	font-size: 1.1em;
	line-height: 1.7em;
	font-weight: 300;
	padding: 0 0 1em;
}
.work-in p span{
	padding:1.3em 0 0;
	display: block;
}

.projects {
	border-top: 1px solid #D5D3D3;
    padding: 1em 0 0em;
}
.projects h3,.info h3,.tags h3,.gallery h3,.feature h3{
	color:#000;
	font-size:1.8em;
	font-weight:300;
	padding: 0 0 0.7em;
}
.info ,.tags,.gallery,.feature {
  padding: 0em 0 1.5em;
}

.projects ul li{
	display:inline-block;
	width:33.33%;
	float:left;
}
ul.likes li{
	list-style:none;
	border-bottom: 1px solid #D5D3D3;
	padding: 0.3em 0;
}
ul.likes li a,ul.likes li span{
	font-size:1em;
	color:#848484;
	margin: 0 0 0.5em;
	display: block;
}
ul.likes li a:hover{
	text-decoration:none;
	color:#1ab5b3;
}
ul.likes li  i{
	background: url(../images/img-sprite.png)no-repeat -14px -91px ;
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	margin:0 13px 0 0;
}
ul.likes li  i.like{
	background-position:  -139px -91px ;
}
ul.likes li  i.dec{
	background-position:  -182px -91px ;
}
ul.likes li  i.comment{
	background-position:  -97px -91px ;
}
ul.tag li{
	display:inline-block;
}
ul.tag li a{
	color: #a3a3a3;
	font-size: 0.8em;
	padding: 0.8em;
	border: 1px solid #D5D3D3;
	border-radius: 12px;
	margin: 0 0.5em 0 0;
}
ul.tag li a:hover{
	color: #1ab5b3;
	border: 1px solid #1ab5b3;
}
ul.gallery-grid li{
	float:left;
	width:11.5%;
	display:inline-block;
	margin:1% 1% 0 0;
}
ul.feature-grid li{
	list-style:none;
}
ul.feature-grid li a{
	color:#848484;
	font-size:1em;
	padding:0.5em 0;
	display:block;
}
ul.feature-grid li a:hover{
	color:#1ab5b3;
}
ul.feature-grid li i{
	background: url(../images/img-sprite.png)no-repeat -188px -52px ;
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	margin:0 13px 0 0;
}
/*--about--*/
.about{
	padding:1.5em;
	background:#fff;
	margin:1.5em;
}
.about-top,.about-in{
	float:left;
	width:47.9%;
}
.about-top {
  border-right: 1px solid #D5D3D3;
  padding: 0 2% 0 0;
}
.about-in {
    padding: 0 0 0 2%;
}
.about-top h2{
	font-size: 1.8em;
	font-weight: 300;
	padding: 0.5em 0;
}
.about-top h2 a{
	color: #000;
	text-decoration:none;
}
.about-top h2 a:hover{
	color: #1ab5b3;
}
.about-top p{
	color:#a3a3a3;
	font-size: 1.1em;
	line-height: 1.7em;
	font-weight: 300;
	padding: 0 0 1em;
}
.about-top p span{
	padding:2em 0 0;
	display: block;
}
.staff {
  padding: 1em 0;
  border-top: 1px solid #D5D3D3;
    padding: 1em 0 0em;
}
.staff h3,.skills h3,.test h3{
	color:#000;
	font-size:1.8em;
	font-weight:300;
	padding: 0 0 0.7em;
}
.staff h3{
	padding: 0 ;
}
.test {
  padding: 1.5em 0;
}
.our{
	float:left;
	width: 31.3%;
	margin: 3% 3% 0 0;
	position:relative;
}
.our:nth-child(4),.our:nth-child(7){
	margin:3% 0 0;
}
.our-grid h5{
	float:left;
	color:#000;
	font-size:1em;
}
.our-grid span{
	float:right;
	color:#000;
	font-size:1em;
}
.design label{
	width:88%;
	float:left;
	height:30px;
	display:block;
	background:#e2e1dd;
	border:1px solid #e2e1dd;
}
.design b{
	width:11%;
	float:left;
	height:30px;
	display:block;
	background:#fff;
	border:1px solid #E2E0E0;
}
.site label{
	width:95%;
}
.site b{
	width:4%;
}
.eight label{
	width:81%;
}
.eight b{
	width:18%;
}
.seven label{
	width:72%;
}
.seven b{
	width:27%;
}
.our-grid {
  padding: 0.3em 0;
}
.our-skill {
  padding: 0.5em 0;
}
.in-at{
	float:left;
	width:12%;
}
.in-at img{
	width:100%;
}
h4.author{
	  float: left;
  width: 79.38%;
  font-size: 1em;
  background: #55bab7;
  color: #fff;
  padding: 1.5em;
  font-style: italic;
}
.test-top p{
	color:#a3a3a3;
	font-size: 1.1em;
	line-height: 1.7em;
	font-weight: 300;
	padding:  1.5em;
}
.test-top{
	border:1px solid #E2E0E0;
}
.simple{
	  background: #1ab5b3;
  padding: 4em 0 0;
  text-align: center;
  width: 100%;
  height: 112px;
  position: absolute;
  top: 0;
  display:none;
}
.simple h4{
	color:#fff;
	font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 600;
}
.simple p{
	color:#fff;
	font-size:0.9em;
	font-size:300;
	padding:0.2em 0 0;
}
.our:hover .simple{
	display:block;
}
.services h3{
	color:#000;
	font-size:1.8em;
	font-weight:300;
	padding: 0 0 0.4em;
}
ul.service-grid li{
	list-style:none;
}
ul.service-grid li a{
	color:#848484;
	font-size:1em;
	padding:0.5em 0;
	display:block;
}
ul.service-grid li a:hover{
	color:#1ab5b3;
	text-decoration:none;
}
ul.service-grid li i{
	background:#848484 ;
	width: 5px;
	height: 5px;
	display: inline-block;
	vertical-align: middle;
	margin:0 13px 0 0;
	border-radius:10px;
}
/*--blog--*/
.blog-top{
	float:left;
	width:18.4%;
	margin-right: 2%;
}
.blog-top:nth-child(5){
	margin-right: 0%;
}
.col-d {
	padding:0 0 1.5em;
	  position: relative;
}
.blog-in{
	background: #fff;
	 padding: 1em;
}
.blog-in h5{
	font-size:1.1em;
}
.blog-in h5 a{
	color:#000;
	text-decoration:none;
}
.blog-in h5 a:hover{
	color:#1ab5b3;
}
.blog-in p{
	color:#9c9c9c;
	font-size:0.8em;
	  line-height: 1.8em;
	  padding: 1em 0;
}
ul.date{
	border-top:1px solid #C8C6C6;
	padding: 1em 0 0;
}
ul.date li{
	display:inline-block;
}
ul.date li span{
	font-size:0.7em;
	color:#9c9c9c;
	padding: 0 0.3em 0 0;
}
ul.date li i{
	background: url(../images/img-sprite.png)no-repeat -139px -51px ;
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
}
ul.date li i.date-in{
	background-position:-163px -51px;
}
ul.date li a{
	text-decoration:none;
	color:#9c9c9c;	
}
.col-d label{
	background: url(../images/ar.png) no-repeat 0px 0px;
	width: 70px;
	height: 70px;
	display: block;
	margin: 0 auto;
	  position: absolute;
  top: 29%;
  display:none;
  left: 35%;
}
.col-d:hover.col-d label{
	display:block;
}
.col-in{
	background:#1ab5b3;
	padding: 1.5em;
	text-align: center;
	margin: 0 0 1.5em;
}
iframe{
	display:block;
}
.col-d iframe{
	width:100%;
	min-height: 172px;
}
.col-in p{
	color:#fff;
	line-height: 1.5em;
	font-size:1.1em;	
}
.col-in a{
	color:#fff;
	font-style:italic;
	font-size:0.8em;
	text-decoration:underline;	
}
.col-in a:hover{
	text-decoration:none;	
}
.blog {
  padding: 1.5em;
}
.col-in-at{
	background:#242b2e;
	padding: 1.5em;
	margin: 0 0 1.5em;
	  border-left: 12px solid #1ab5b3;
}
.col-in-at p{
	color:#9c9c9c;
	line-height: 1.8em;
	font-size:0.9em;	
}
.col-in-at h5{
	line-height: 1.5em;
	font-size:1.1em;	
}
.col-in-at h5 a{
	color:#fff;
	text-decoration:none;	
}
.col-in-at h5 a:hover{
	color:#1ab5b3;	
}
.col-on{
	background:#242b2e;
	padding: 1.5em;
	margin: 0 0 1.5em;
	text-align:center;
}
.col-on p{
	color:#fff;
	line-height: 1.5em;
	font-size: 1.1em;
	font-style: italic;
}
.col-on span{
	color:#1ab5b3;
	font-size: 1em;
}
.col-on img{
	margin:0.5em auto;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 19%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 43px;
  width: 43px;
  background: url("../images/img-sprite.png") no-repeat -275px -89px;
  }
.callbacks_nav.next {
  left: auto;
  background-position: -332px -89px;
  right: 0;
 }
/*--404--*/
.four{
	text-align:center;
	padding: 15em 0 10em;
	min-height: 569px;
}
.four h2{
	font-size: 4em;
	color: #1ab5b3;
}
.four h3{
	font-size:4em;
	color:#848484;
	padding:0.7em 0;
}
a.just-do {
  text-decoration: none;
  color: #fff;
  background: #1ab5b3;
  padding: 0.7em 1.3em;
  font-size: 1.1em;
}
a.just-do:hover {
  background:#242b2e;
}
/*--single--*/
.single{
  padding: 1.5em;
  background: #fff;
  margin: 1.5em;
}
.single-top {
  border-right: 1px solid #D5D3D3;
  padding: 0 2% 0 0;
}
.single-top, .single-in {
  float: left;
  width: 47.9%;
}
.single-in {
  padding: 0 0 0 2%;
}
.single-top h2 {
  color: #000;
  font-size: 1.8em;
  font-weight: 300;
  padding: 0.5em 0;
}
.single-top p {
  color: #a3a3a3;
  font-size: 1.1em;
  line-height: 1.7em;
  font-weight: 300;
  padding: 0 0 1em;
}
.single-top p span {
  padding: 2em 0 0;
  display: block;
}
.comment-grid-top h3,.top-single h3{
	color:#000;
	font-size:1.7em;
	font-weight: 300;
}
.top-comment-left{
	float: left;
	width: 17%;
}
.top-comment-right{
	float: right;
	width:82%;
}
.left-single{
	width:19%;
}
.right-single{
	width:79%;
}
.left-single1{
	width:24%;
}
.right-single1{
	width:76%;
}
.top-comment-right ul {
	border-bottom: 1px solid #D5D3D3;
	  display: inline-block;
}
.top-comment-right ul li{
	display: inline-block;
	color:#D0CECE;
	padding: 0.3em;
}
.top-comment-right p{
	color: #8F8E8E;
	font-size:1.3em;
	padding:0;
}
.top-comment-right ul li span a{
	color:#000;
	text-decoration:none;
}
.top-comment-right ul li span{
	font-size:1em;
}
.top-comment {
  padding: 0 0 0 14% ;
}
.top-com {
  padding: 0 0 0 28% ;
}
.comments-top-top label{
	background:url(../images/li.png)no-repeat 1px 2px;
	width:45px;
	height:45px;
	display:block;
	position: absolute;
	top: 134%;
}
label.arrow-in {
  left: 3%;
}
.comments-top-top {
  position: relative;
  margin: 1em 0 2em;
}
.your-single {
  border: 1px solid #e2e2e2;
  position: relative;
  margin: 0.8em 0;
}
.your-single i {
    background: url(../images/img-sprite.png)no-repeat -9px -86px ;
  width: 50px;
  height: 50px;
  display: inline-block;
  float:left;
   border-right: 1px solid #e2e2e2;
}
.your-single i.email {
    background-position: -51px -86px ;
}
.your-single i.website {
    background-position: -93px -86px ;
}
.your-single input[type="text"],.grid-single-in textarea {
  background: none;
  width: 66%;
  outline: none;
  border: none;
  padding:1em 0.8em;
  font-size: 1em;
  color: #e2e2e2;
  margin: 0 0 0 2%;
  float:left;  
}
.grid-single-in textarea{
  border: 1px solid #e2e2e2;
 resize:none;
  margin: 0.7em 0 0.5em;
  width:89%;
   font-size: 1.3em;
    padding: 0.8em;
}
.grid-single-in input[type="submit"] {
  width: 100%;
  font-size: 1.1em;
  background: #1ab5b3;
  padding: 0.7em 1em;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  margin: 0 auto;
  -webkit-appearance: none;
  font-weight: 700;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -moz-transition: 0.5s all;
  cursor:pointer;
}
.grid-single-in input[type="submit"]:hover {
	background:#242b2e;
}
.grid-single,.grid-single-in  {
  width: 49%;
  float: left;
}
.grid-single {
  margin: 0 2% 0 0;
}
.archive{
	padding:0.7em 0 0;
}
.archive h3{
	color:#000;
	font-size:1.8em;
	font-weight:300;
	padding: 0 0 0.3em;
}
ul.archive-grid li{
	list-style:none;
}
ul.archive-grid li a{
	color:#848484;
	font-size:1em;
	padding:0.5em;
	display:block;
}
ul.archive-grid li a:hover{
	color:#1ab5b3;
}
/*--contact--*/
.your-top {
  border: 1px solid #e2e2e2;
  position: relative;
  margin: 0.8em 0;
}
.your-top i {
    background: url(../images/img-sprite.png)no-repeat -9px -86px ;
  width: 50px;
  height: 50px;
  display: inline-block;
  float:left;
   border-right: 1px solid #e2e2e2;
}
.your-top i.email {
    background-position: -51px -86px ;
}
.your-top i.website {
    background-position: -93px -86px ;
}
.your-top input[type="text"],.grid-contact-in textarea {
  background: none;
  width: 70%;
  outline: none;
  border: none;
  padding:1em 0.8em;
  font-size: 1em;
  color: #e2e2e2;
  margin: 0 0 0 2%;
  float:left;  
}
.grid-contact-in textarea{
  border: 1px solid #e2e2e2;
 resize:none;
  margin: 0.7em 0 0.5em;
  width:91%;
   font-size: 1.3em;
    padding: 0.8em;
}
.grid-contact-in input[type="submit"] {
  width: 100%;
  font-size: 1.1em;
  background: #1ab5b3;
  padding: 0.7em 1em;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  margin: 0 auto;
  -webkit-appearance: none;
  font-weight: 700;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -moz-transition: 0.5s all;
  cursor:pointer;
}
.grid-contact-in input[type="submit"]:hover {
	background:#242b2e;
}
.contact {
    width: 55%;
  background: #fff;
  padding: 3em;
  position: absolute;
  top: 3%;
  z-index: 1;
  left: 3%;
}
.contact h1,.top-contact h3{
	color:#a3a3a3;
	font-size:1.8em;
}
.contact p{
	color: #a3a3a3;
  font-size: 1.1em;
  line-height: 1.7em;
  font-weight: 300;
  padding: 0 0 1em;
}
.grid-contact,.grid-contact-in  {
  width: 49%;
  float: left;
}
.grid-contact {
  margin: 0 2% 0 0;
}
.map {
	position:relative;
}
.map iframe{
	width:100%;
	min-height:969px;
	border:none;
}
.top-contact {
  border-top: 1px solid #e2e2e2;
  padding: 1.2em 0 0;
}
.footer-class-in{
	display:none;
}
/*--responsive--*/
@media(max-width:1440px){
.b-animate span {
  padding-top: 1em;
}
ul.tag li a {
  font-size: 0.7em;
  padding: 0.6em;
}
h4.author {
  width: 79.8%;
  padding: 1.25em;
}
ul.date li span {
  font-size: 0.6em;
}
ul.date li i {
  margin: 0 2px 0 0;
}
.header-left {
  min-height: 864px;
}
p.footer-class {
  font-size: 0.8em;
}
.header-work {
  min-height: 948px;
}
.header-left1 {
  min-height: 1269px;
}
.header-left2 {
  min-height: 1049px;
}
.header-contact{
	min-height: 969px;
}
.header-left3 {
  min-height: 1612px;
}
.four {
  min-height: 464px;
}
.grid-single-in textarea {
  width: 88%;
}
.simple {
  padding: 3.5em 0 0;
  height: 99px;
}
.b-from-left {
  min-height: 217px;
}
}
@media(max-width:1366px){
.header-left {
  min-height: 820px;
}
.header-work {
  min-height: 933px;
}
h4.author {
  width: 78%;
  padding: 1.3em;
}
.in-at {
  width: 13%;
}
.header-left1 {
  min-height: 1234px;
}
.blog-in h5 {
  font-size: 1em;
}
ul.date li span {
  font-size: 0.59em;
}
.header-left2 {
  min-height: 1038px;
}
.callbacks_nav {
  top: 14%;
}
.col-d label {
  top: 27%
}
.four {
  min-height: 420px;
}
.header-contact {
  min-height: 969px;
}
.your-single input[type="text"] {
  width: 63%;
}
.header-left3 {
  min-height: 1616px;
}
.grid-single-in textarea {
  width: 88%;
}
p.footer-class {
  font-size: 0.7em;
}
.simple {
  height: 90px;
}
.arrow img {
  margin: 0 0 0 70.5%;
}
.arrow-at img {
  margin: 0;
}
.b-from-left {
  min-height: 206px;
}
}
@media(max-width:1280px){
ul.social-in li i {
  margin: 0 1px;
}
.work-top h2 {
  font-size: 1.5em;
}
ul.tag li a {
  font-size: 0.65em;
}
.feature h3 {
  padding: 0 0 0.2em;
}
ul.feature-grid li a {
  padding: 0.3em 0;
}
.in-at {
  width: 14%;
}
h4.author {
  width: 76.2%;
}
.col-in a {
  font-size: 0.7em;
}
.blog-in h5 {
  font-size: 0.9em;
}
ul.date li span {
  font-size: 0.5em;
}
ul.date li i {
  margin: 0 1px 0 0;
}
.your-top input[type="text"] {
  background: none;
  width: 68%;
}
.your-single input[type="text"] {
  width: 61%;
}
.single-top h2 {
  font-size: 1.5em;
}
.header-left {
  min-height: 766px;
}
.header-work {
  min-height: 890px;
}
.header-left1 {
  min-height: 1251px;
}
.header-left2 {
  min-height: 1052px;
}
.four {
  min-height: 366px;
}
.header-contact {
  min-height: 969px;
}
.header-left3 {
  min-height: 1561px;
}
.grid-single-in textarea {
  width: 86%;
}
.simple {
  height: 80px;
}
.b-from-left {
  min-height: 192px;
}
}
@media(max-width:1024px){
.content-grid {
  width: 33.333%;
}
.content-grid:nth-child(4){
  display:none;
}
ul.social-in li:nth-child(7){
  display:none;
}
.header-left {
  min-height: 1025px;
}
.work-top h2 {
  font-size: 1.2em;
}
.work-top p {
  font-size: 1em;
}
ul.likes li a, ul.likes li span {
  margin: 0 0 0em;
}
ul.gallery-grid li {
  width: 15.5%;
}
ul.tag li:nth-child(5),ul.tag li:nth-child(6) {
  display: none;
}
ul.tag li a {
  font-size: 0.7em;
}
.design label {
  width: 87%;
}
.site label {
  width: 94%;
}
.eight label {
  width: 80%;
}
.seven label {
  width: 71%;
}
.about-top h2 {
  font-size: 1.7em;
}
.in-at {
  width: 16%;
}
h4.author {
  width: 73.5%;
  padding: 1.1em;
}
.blog-top {
  width: 23.5%;
}
.blog-top:nth-child(5) {
  display:none;
}
.blog-top:nth-child(4) {
  margin:0;
}
.your-top input[type="text"] {
  width: 60%;
}
.grid-contact-in textarea {
  width: 86%;
}
.your-single input[type="text"] {
  width: 51%;
}
.grid-single-in textarea {
  width: 83%;
}
.single-top h2 {
  font-size: 1.2em;
}
.single-top p {
  font-size: 1em;
}
.header-work {
  min-height: 863px;
}
.header-left1 {
  min-height: 1251px;
}
.header-left2 {
  min-height: 1028px;
}
.header-contact {
  min-height: 969px;
}
.header-left3 {
  min-height: 1503px;
}
.simple {
  height: 74px;
  padding: 2em 0 0;
}
.simple h4 {
  font-size: 1em;
}
.b-from-left {
  min-height: 207px;
}
ul.social-in {
  padding: 2em 0em 2em 0;
}
}
@media(max-width:768px){
.content-grid {
  width: 50%;
}
.work-top, .work-in ,.about-top, .about-in,.single-top, .single-in{
  width: 100%;
}
.work-top,.about-top ,.single-top{
  border-right: none;
  padding: 0 0 0;
}
.blog-top {
  width: 48%;
}

.blog-top:nth-child(2) {
 margin:0; 
}
.contact {
  width: 71%;
}
.top-nav ul li a {
  font-size: 1em;
}
.grid9{
	display:none;
}
.logo {
  padding: 1em;
}
.b-animate span {
  padding-top: 1.5em;
}
.work-in,.about-in,.single-in{
	padding:1.5em 0 0;
}
.simple {
  height: 102px;
  padding: 3.5em 0 0;
}
h4.author {
  width: 71.9%;
  padding: 1.9em;
}
.callbacks_nav {
  top: 20%;
}
.col-d label {
  top: 29%;
}
.four h2 {
  font-size: 3em;
}
.header-left {
  min-height: 1611px;
}
.header-work {
  min-height: 1706px;
}
.header-left1 {
  min-height: 2307px;
}
.header-left2 {
  min-height: 1920px;
}
.header-contact {
  min-height: 969px;
}
.header-left3 {
  min-height: 2202px;
}
.b-from-left {
  min-height: 230px;
}
.grid-single-in textarea {
  width: 88%;
}
ul.date li span {
  font-size: 0.8em;
}
}
@media(max-width:640px){
.b-animate span {
  padding-top: 0.8em;
}
.b-from-left {
  min-height: 191px;
}
.simple {
  height: 85px;
  padding: 2.5em 0 0;
}
h4.author {
  width: 72.5%;
  padding: 1.43em;
}
.callbacks_nav {
  top: 16%;
}
.four h2 {
  font-size: 2.5em;
}
.your-top input[type="text"] {
  width: 52%;
}
.grid-contact-in textarea {
  width: 83%;
}
.grid-single-in textarea {
  width: 85%;
}
.header-left {
  min-height: 1337px;
}
.header-work {
  min-height: 1626px;
}
.header-left1 {
  min-height: 2283px;
}
.header-left2 {
  min-height: 1998px;
}
.header-contact {
  min-height: 969px;
}
.header-left3 {
  min-height: 2127px;
}
ul.date li span {
  font-size: 0.7em;
}
}
@media(max-width:480px){
.b-animate span {
  font-size: 1.3em;
  padding-top: 1.5em;
}
.b-animate p {
  font-size: 0.9em;
}
.b-animate i {
  width: 46px;
  height: 46px;
  background-size: 44px;
}
.work-top h2 ,.about-top h2{
  font-size: 1em;
}
.work-top p ,.about-top p{
  font-size: 0.8em;
}
.work,.about,.single {
  padding: 1em;
  margin: 1em;
}
.blog {
  padding: 1em;
}
.projects h3, .info h3, .tags h3, .gallery h3, .feature h3 ,.staff h3,.skills h3,.services h3{
  font-size: 1.3em;
}
ul.feature-grid li a {
  font-size: 0.8em;
}
.our {
  width: 48.5%;
  margin: 3% 3% 0 0;
}
.our:nth-child(2),.our:nth-child(5){
	display:none;
}
h4.author {
  width: 74.4%;
  padding: 0.9em;
    font-size: 0.9em;
}
.test-top p {
  font-size: 0.9em;
  padding: 1em;
}
.skills h3{
	padding:0;
 }
.test h3 {
  font-size: 1.3em;
  padding: 0 0 0.5em;
}
ul.service-grid li a {
  color: #848484;
  font-size: 0.9em;
}
.blog-in h5 {
	font-size: 0.8em;
}
.blog-in p {
  font-size: 0.7em;
}
.blog-in {
  padding: 0.8em;
}
ul.date li span {
  font-size: 1em;
}
.col-in p {
  font-size: 0.9em;
}
.col-in a {
  font-size: 0.5em;
}
.col-on p {
  font-size: 1em;
}
.col-in-at p {
  font-size: 0.7em;
}
.four h2 {
  font-size: 2em;
}
.four h3 {
  font-size: 3em;
  color: #848484;
  padding: 0.5em 0;
}
.grid-contact, .grid-contact-in,.grid-single, .grid-single-in {
  width: 100%;
 margin:0;
}
.grid-contact-in textarea {
  width: 89%;
}
.contact {
  padding: 2em;
}
.single-top h2 {
  font-size: 1em;
}
.single-top p {
  font-size: 0.9em;
}
.comment-grid-top h3, .top-single h3 ,.archive h3{
  font-size: 1.3em;
}
.top-comment ,.top-com{
  padding: 0 0 0;
}
.comments-top-top label{
	display:none;
}
.top-comment-right ul li span {
  font-size: 0.9em;
}
.top-comment-right {
  width: 76%;
}
.left-single1 {
   width: 17%;
}
.grid-single-in textarea {
  width: 94.5%;
}
.your-single input[type="text"], .grid-single-in textarea {
  font-size: 0.9em;
}
ul.likes li a, ul.likes li span {
  font-size: 0.9em;
}
ul.archive-grid li a {
  font-size: 0.9em;
}
p.footer-class {
  font-size: 0.5em;
  line-height: 1.8em;
}
ul.social {
  padding: 1em 1em 1em 1em;
}
ul.social li span, ul.social li a {
  font-size: 0.9em;
}
.arrow img {
  margin: 0 0 0 58.5%;
}
.arrow-at img {
   margin: 0; 
}
.contact h1, .top-contact h3 {
  font-size: 1.5em;
}
.contact p {
  font-size: 0.9em;
}
/*---*/
.header-top{
	display:block;
	background:#fff;
	  padding: 1em 0.5em;
}
.header-left{
	display:none;
}
.logo-in{
	float:left;
	width: 29%;
}
.logo-in img{
	width: 100%;
}
.top-nav-in{
	float:right;
}
span.menu {
	display: block;
	text-align: right;
	cursor: pointer;
	position: relative;
}
.top-nav-in ul{
	display: none;
	position:absolute;
	width:100%;
	z-index: 9999;
	left: 0%;
	margin:1em 0em;
	background:#1ab5b3;
	border:0;
}
.top-nav-in span.menu{
	display: block;
	width:100%;
	text-align: right;
	cursor:pointer;
}
.top-nav-in ul li{
	display: block;
	float:none;
	padding:  0.3em;
	text-align: center;
}
.top-nav-in ul li a{
	color:#fff;
	display:block;
	margin:0;
	background: none;
	border:none;
	padding:0.4em;
	font-size: 1em;
}
.top-nav-in ul li a:hover{
	color:#242b2e;	
}
.top-nav-in ul li a i {
	display:none;
}
.top-nav-in {
  margin-top: 0.5em;
}
.content {
  width: 100%;
}
.footer-class-in{
	display:block;
	text-align:center;
	font-size:0.9em;
	background:#242b2e;
	padding:1.5em 0;
	color:#6b7072;	
}
.footer-class-in a{
	text-decoration:none;
	color:#fff;	
}
.footer-class-in a:hover{
	color:#6b7072;	
}
.our img{
	width:100%;
}
.simple {
  height: 114px;
  padding: 5em 0 0;
}
.four {
  min-height: 178px;
    padding: 6em 0 8em;
}
.b-from-left {
  min-height: 177px;
}
}
@media(max-width:320px){
.logo-in {
  width: 36%;
}
.top-nav-in {
  margin-top: 0.3em;
}
.arrow img {
  margin: 0 0 0 70%;
  width: 30%;
}
ul.social {
  padding: 0.5em;
}
ul.social li span, ul.social li a {
  font-size: 0.6em;
  margin:0 0 0.1em;
}
.b-animate span {
  font-size: 0.9em;
    padding-top: 0.7em;
}
.b-animate p {
  font-size: 0.6em;
}
.footer-class-in {
  font-size: 0.7em;
}
.work, .about, .single {
  padding: 0.7em;
  margin: 0.7em;
}
.callbacks_tabs a:after {
  height: 5px;
  width: 17px;
}
.work-top p, .about-top p , p.para{
  font-size: 0.7em;
  height: 107px;
  overflow: hidden;
}
.projects h3, .info h3, .tags h3, .gallery h3, .feature h3, .staff h3, .skills h3, .services h3 {
  font-size: 1em;
}
ul.likes li a, ul.likes li span {
  font-size: 0.7em;
}
 ul.tag li:nth-child(4) {
  display: none;
}
ul.feature-grid li a {
  font-size: 0.7em;
}
.simple h4 {
  font-size: 0.8em;
}
.simple {
 height: 77px;
  padding: 3em 0 0;
}
.work-in, .about-in, .single-in {
  padding: 1em 0 0;
}
.our-grid h5 {
  font-size: 0.8em;
}
.design label {
  width: 86%;
}
.site label {
  width: 93%;
}
.eight label {
  width: 79%;
}
.seven label {
  width: 70%;
}
.our-skill {
  padding: 0.2em 0;
}
h4.author {
  width: 81.8%;
  padding: 0.9em 0.2em;
  font-size: 0.6em;
}
.test-top p {
  font-size: 0.7em;
  padding: 1em;
  height: 50px;
  overflow: hidden;
}
ul.service-grid li a {
  font-size: 0.6em;
}
.blog-top {
  width: 100%;
}
.blog-top:nth-child(3), .blog-top:nth-child(4) {
	display:none;
}
ul.date li span {
  font-size: 0.9em;
}
.four h2 {
  font-size: 1.1em;
}
.four h3 {
  font-size: 2em;
}
a.just-do {
  padding: 0.5em 1em;
  font-size: 0.9em;
}
.contact h1, .top-contact h3 {
  font-size: 1.1em;
}
.contact {
  padding: 1em;
}
.contact p {
  font-size: 0.8em;
  height: 54px;
  overflow: hidden;
}
.top-contact {
  padding: 0.5em 0 0;
}
.your-top i ,.your-single i{
  background: url(../images/img-sprite.png)no-repeat -16px -93px;
  width: 37px;
  height: 37px;
}
.your-top input[type="text"], .grid-contact-in textarea,.your-single input[type="text"], .grid-single-in textarea {
  width: 70%;
  padding: 0.8em 0.3em;
  font-size: 0.8em;
}
.grid-single-in textarea {
  width: 97%;
}
.your-top i.email,.your-single i.email {
  background-position: -57px -92px;
}
.your-top i.website,.your-single i.website {
  background-position: -99px -92px;
}
.grid-contact-in textarea {
  margin: 0em 0 0.5em;
  width: 94%;
  font-size: 1em;
  padding: 0.4em;
}
.grid-contact-in input[type="submit"],.grid-single-in input[type="submit"] {
  font-size: .8em;
}
ul.archive-grid li a {
  font-size: 0.7em;
}
.comment-grid-top h3, .top-single h3, .archive h3 {
  font-size: 1.1em;
}
.info, .tags, .gallery, .feature {
  padding: 0em 0 1em;
}
.top-comment-right ul li span {
  font-size: 0.7em;
}
.comments-top-top {
  margin: 0.7em 0;
}
.single-top p {
  font-size: 0.7em;
}
h4.author {
  width: 82.5%;
  padding: 1.55em 0.2em;
}
.col-d img{
	width:100%;
}
.col-in a {
  font-size: 0.8em;
}
.top-nav-in ul li a{
	font-size: 0.8em;
}
.four {
  min-height: 116px;
  padding: 9em 0 8em;
}
.callbacks_nav {
  top: 24%;
}
.col-d label {
  top: 32%;
}
.map iframe {
  min-height: 569px;
}
}